.container {
    margin: auto;
    max-width: 600px;
    padding: 2em 0;
    margin-bottom: 75px;
}
.footer {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0px;
  background: white;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.thumbnail {
    max-height: 200px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
}

.searchPanel {
    display: flex;
    margin-bottom: 75px;
}

.searchPanelFilters {
    flex: 1;
    padding: 2em;
}

.searchPanelResults {
    flex: 7;
    align-content: center;
    padding: 2em 5em;
}

.tutorialSearch {
    margin-bottom: 2rem;
    width: 300px;
}

.tutorialItems li {
    max-width: 20rem;
    display: inline-grid;
}

.searchChords ul {
    display: flex;
    flex-wrap: wrap;
}

.searchChords ul > li {
    margin-right: 1em;
}

.modeHeading {
    margin: 0.5rem 0;
}

.chordModeSelect > select {
    font-size: 0.7rem;
    height: 2rem;
}

.siteHeader {
    padding: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;
    display: flex;
}
.siteTitle {
    flex: 2;
}
.navItem {
    margin-left: 1em;
}
.currentRefinements > ul {
    grid-auto-flow: row;
}

.changeFavorite {
    font-size: 1.5em;
    cursor: pointer;
}
.favoriteVideo {
    color: red;
}
.notFavoriteVideo {
    color: lightgray;
    opacity: 0.7;
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer {
        position: inherit;
        bottom: 0px;
  }
}
