.panelContainer {
    display: flex;
    align-content: center;
}

.leftPanel {
    flex: 2;
    padding: 0 1em;
}

.centerPanel {
    flex: 5;
    padding-top: 1em;
}

.rightPanel {
    flex: 2;
    padding: 0 1em;
}

.chordName {
    margin-right: 0.5em;
}

.chordDiagram {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 5em;;

}

.chordDiagrams svg {
    margin: auto;
    width: 100%;
}

.chordDiagrams h5 {
    display: inline-block;
    margin: auto;
}

.playerWrapper {
    position: relative;
    min-height: 600px;
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

.songInfo {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.songInfoEntry {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.songInfoKey {
    flex: 3;
}
.songInfoValue {
    flex: 5;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.videoLoopControls {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    align-content: center;
}

.loopControl {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    align-content: center;
}

.favIcon {
    padding-left: 0.25em;
    margin-top: -0.25em;
}

@media (max-width: 768px) {

    .panelContainer {
        flex-direction: column;
    }

    .centerPanel {
        order: -1;
    }

    .playerWrapper {
        min-height: 300px;
    }

}
